<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tagging.tag.name %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @tagging.episode.name %>
</p>

<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
